/*
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
*/

/* Color Themes */
:root {
  --bg-color: #153B78; 
  --bg-highlight: #1D50A3;
  --acc-color: #78153B;
}

.contact-bar {
  --em-color: #d44638;
  --ln-color: #007bb5;
  --twt-color: #1da1f2;
  --bsky-color: #1185FE;
}

/* Navigation */
.navbar {
  background-color: var(--bg-color);
  border-radius: 0px !important;
  margin-bottom: 0px !important
}

.navbar-brand {
  padding: 0px !important;
  margin: auto;
}

/* Portfolio */
.card {
  border-color: var(--bg-color);
  border-radius: 25px;
  overflow: hidden;
}

#intro {
  background-color: var(--bg-color);
  border-radius: 0px !important;
  padding: 20px !important;
  padding-top: 10px !important;
  color: white;
}

#intro > .panel {
  background-color: var(--bg-color);
  margin-bottom: 0px !important;
  margin: auto;
  width: 80%;
  -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

#intro > .panel > h3 {
  margin-top: 0px;
}

#intro > .panel > h3 small {
  color: white;
  opacity: 0.7;
}

.projects > .carousel-indicators{
  bottom: 0px;
}

.projects > .carousel-inner {
  height: 100%;
  background-color: black;
}

.projects > .carousel-inner > .item {
  height: 85%;
  top: 5%;
  bottom: 10%;
}

.projects > .carousel-inner > .item > img {
  height: 100%;
  object-fit: contain;
  margin: auto;
}

.projects > .carousel-inner > .item > video {
  vertical-align: middle !important;
  display: block !important;
  margin: auto;
}

.project-title {
  margin-top: 10px !important;
  font-weight: bold;
  color: var(--acc-color);
}

.btn-navy {
  background-color: var(--bg-color);
  color: white;
}

.btn-navy:hover {
  background-color: var(--bg-highlight);
  border-color: var(--bg-color);
  color: white;
}

/* About */
#bio {
  padding-top: 10px;
  padding-bottom: 10px;
}

#bio > h4 {
  font-size: 18px;
}

/* Contacts */
.contact-bar > .fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  border-radius: 20%;
  text-align: center;
  text-decoration: none;
  margin: 5px;
}

.contact-bar > .fa:hover {
  opacity: 0.7;
}

.contact-bar > .fa-envelope {
  background: var(--em-color);
  color: white;
}

.contact-bar > .fa-linkedin {
  background: var(--ln-color);
  color: white;
}

.contact-bar > .fa-twitter {
    background: var(--twt-color);
    color: white;
}

.contact-bar > .fa-bluesky {
    background: var(--bsky-color);
    color: white;
}

/* Aspect Ratios */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  #intro > .panel {
    width: 90%;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  #intro > .panel {
    width: 70%;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  #intro > .panel {
    width: 70%;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
